.card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 15px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    background-color: rgb(80, 75, 75);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }