.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.card-wrapper {
    text-align: left;
    font-size: calc(10px + 1.5vmin);
    color: white;
}